/* COMMON */
body{
    color:#333;
    font-size:16px;
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.4;
    height: 6000px;
}
img{
    display : block;    /*여기서 사용하는 이미지들은 블록요소로 사용하겠다고 선언하는 것 일면 이미지 근처 공백들이 사라짐*/
}
a{
    text-decoration:none;
}
.inner{     /*모든 inner 클래스로 지정된 태그들은*/
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align:center;
    cursor:pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover{
    background-color: #333;
    color : #fff;
}

.btn.btn--reverse{
    background-color: #333;
    color: #fff;
}
.btn.btn.btn--reverse:hover{
    background-color: transparent;
    color: #333;        /**/
}
.btn.btn--brown{
    color: #592b18;
    border-color: #592b18;
}
.btn.btn--brown:hover{
    color:#fff;
    background-color: #592b18;
}
.btn.btn--gold{
    color:#D9AA8A;
    border-color: #D9AA8A;
}
.btn.btn--gold:hover{
    color: #FFF;
    background-color: #D9AA8A;
}
.btn.btn--white{
    color:#FFF;
    border-color: #FFF;
}
.btn.btn--white:hover{
    color:#333;
    background-color: #FFF;
}




.back-to-position{
    opacity: 0;
    transition: 1s;        /*전환효과*/

}
.back-to-position.to-right{
    transform: translateX(-150px);      /*x축으로 -150 px으로 이동시킴*/
}
.back-to-position.to-left{
    transform: translateX(150px);
}

.show .back-to-position{
    opacity: 1;
    transform:translateX(0);
}



/* HEADER */
header{
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;    /*블록요소는 fixed로 하면 줄어든 상태로 고정된다*/
    top: 0;             /*그래서 width값을 auto가 아닌 100퍼로 바꿈*/
    z-index: 9;
}
header > .inner{  /*inner은 확대 축소에 가운대로 이동시킬 수 있다*/
    height: 120px;  /*header 안에 inner가 아닌 header에 자식요소중 inner만 위에 선언한
                        inner와 중보고디지 않도록 함*/
}
header .logo{
    height: 75px;
    position:absolute;  /*부모 기준으로 위치를 맞춤*/
    top : 0;
    bottom:0;
    left: 0;
    margin : auto;
}
header .sub-menu{
display: flex;
position: absolute ;
top: 10px;
right: 0;
}
header .sub-menu ul.menu{
    font-family: Arial,sans-serif;
    display: flex;      /*수직으로*/

}
header .sub-menu ul.menu li{
    position: relative;
}
header .sub-menu ul.menu li a{
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color:#656565;
} 
header .sub-menu ul.menu li::before{          /*가상요소*/
    content:"";
    display:block;
    width: 1px;
    height: 12px;
    background-color:#e5e5e5;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;
}
header .sub-menu ul.menu li:first-child:before{ /*여러 li태그중 첫번쨰 li태그를 찾아서 첫번쨰 li태그의 가상 요소 선택자 before부분 */
    display: none;
}

header .sub-menu ul.menu li a:hover{
    color:#000;                             /*마우스를 올리면 반응 hover*/

}

header .sub-menu .search {
        height:34px;
        position: relative;
}
header .sub-menu .search input{
    width: 36px;
    height:34px ;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing:border-box;  /*테두리*/
    border-radius:5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;       /*전환효과*/
}
header .sub-menu .search input:focus{   /*가상클래스 선택자 focus 인풋요소 선택시 크기를 크게 만든다*/
    width:190px;
    border-color: #669900;
    
}

header .sub-menu .search .material-icons{
    position: absolute;     /*위치를 부모요소 기준으로 배치한다*/
    top: 0;
    bottom: 0;
    margin: auto;   /* 0 0 수직 가운데 위치한다.*/
    height: 24px;
    right: 5px;
    transition: .4s;
}




header .main-menu{
    display: flex;      /*각각에 메뉴가 수평이 되도록 설정*/
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0
}
header .main-menu{

}

header .main-menu .item{    /*main menu 는 ul태그이고 ul태그 안에 item이라는 li태그들이 들어있다*/

}
header .main-menu .item .item__name{
    padding: 10px 20px 34px 20px ; /*4개 입력시 시계방향으로 적용된다*/
    font-family: Arial, sans_serif;
    font-size: 13px;
}
header .main-menu .item:hover .item__name{  /*name과 contents에 둘 다 효과를 적용시키기 위해서 */
    background-color: #2c3a29;
    color: #669900;
    border-radius: 6px 6px 0 0;    /*좌 상단 우상단 좌하단 우하단모서리를 둥글게 한다*/
}
header .main-menu .item .item__contents{
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents{
    display: block;
}
header .main-menu .item .item__contents .contents__menu{
    background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color:  #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;    /*마우스 포인터를 올리면 마우스가 손가락 모양으로 변함*/
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{

        color:#669900;
}
header .main-menu .item .item__contents .contents__texture{
    font-size: 12x;
    padding: 26px 0;
    background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4{
    color:#999;
    font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p{
    color: #669900;
    margin: 4px 0 14px;
}

header .badges {
    position:absolute;  /*부모요소 기준으로 배치한다*/
    top: 132px;
    right: 12px;
}
header .badges .badge {
    border-radius: 10px;
    overflow: hidden;   /*깎은 모서리 밖으로 이미지 나오면 숨김*/
    margin-bottom:  12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,15);
    cursor: pointer;
}

.visual{
    margin-top: 120px;  /*header 높이가 120px 이기에 120으로 마진 설정*/
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
}
.visual .inner{
    height: 646px;
}
.visual .title{
    position: absolute;
    top: 88px;
    left: -10px;
}
.visual .title .btn{
    position:absolute;
    top: 259px;
    left: 173px;
}
.visual .cup1.image{    /*이렇게 붙으면 일치선택자라 한다 두개의 클래스를 가지는 요소에 적용*/
    position: absolute;
    bottom: 0;
    right: -47px;
}
.visual .cup1.text{
    position: absolute;
    top: 38px;
    right: 171px;
}
.visual .cup2.image{
    position: absolute;
    bottom: 0;
    right: 162px;
}
.visual .cup2.text{
    position: absolute;
    top: 321px;
    right: 416px;
}
.visual .spoon{
    position: absolute;
    bottom: 0;
    left: 275px;
}
.visual .fade-in{
    opacity: 0;
}


/* NOTICE */
.notice{

}
.notice .notice-line{
    position: relative;
}
.notice .notice-line .bg-left{
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
}
.notice .notice-line .bg-right{
   width: 50%;
   height: 100%;
   background-color: #f6f5ef;
   position: absolute;
   top: 0;
   right: 0;
}
.notice .notice-line .inner{
    height: 62px;
    display: flex;
}
.notice .notice-line .inner .inner__left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;      /*자식요소들이 수평이 되도록*/
    align-items: center;
}
.notice .notice-line .inner__left h2{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container{
    height: 62px;
    flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
  }
.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
}
.notice .notice-line .inner__left .notice-line__more{
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons{
    color: #fff;
    font-size: 30px;
    
}
.notice .notice-line .inner .inner__right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.notice .notice-line .inner .inner__right h2{
    font-size :17px;
    font-weight: 700;

}
.notice .notice-line .inner .inner__right .toggle-promotion{
    width: 62px;
    height: 62px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .notice-line .inner .inner__right .toggle-promotion .material-icons{
    font-size: 30px;

}
.notice .promotion{
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    transition: height .4s;
    overflow:hidden;    /*요소가 넘치면 다 잘라버림*/
}

.notice .promotion.hide{
    /* 일치선택자로 지정했고 promotion클래스에hide클래스까지 클래스리스트에 add된 경우     */
    height: 0;

}
.notice .promotion .swiper-container{
    width: calc(819px * 3 + 20px);
    /* width: calc(100% - 50ox); */
    height: 553px;
    font-size: 200px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px *3 +20px)/-2); 
}

.notice .promotion .swiper-slide{
    opacity: .5;
    transition: opacity 1s;
    position: relative;

}
.notice .promotion .swiper-slide-active{
    opacity: 1;
} 

.notice .promotion .swiper-slide .btn{
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
}

.notice .promotion .swiper-pagination{
    bottom: 40px;
    left: 0;
    right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet{
    background-color: transparent;  /*배경색을 투명하게*/
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    /* 마지막 상속받은 애
     */
     margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next
{
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.notice .promotion .swiper-prev{
    left:50%;
    margin-left: -480px;
}
.notice .promotion .swiper-next{
    right: 50%;
    margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{
    background-color:#333;
    color: #fff;
}

.rewards{
    position: relative;
}
.rewards .bg-left{
    width: 50%;
    height: 100%;
    background-color: #272727;
    position : absolute;
    top: 3;
    left: 0;
}
.rewards .bg-right{
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position:absolute;
    right: 0;
    top: 3;
}
.rewards .inner{
    background-image: url("../images/rewards.jpg");
    height: 241px;
}

.rewards .btn-group{
    position: absolute;
    bottom:24px;
    right: 0;
    width: 250px;
    display: flex;
    flex-wrap:wrap;     /*이게 너비를 넘치면 줄바꿈을 허용한다*/
}
.rewards .btn-group .btn.sign-up{
    margin-right: 10px;
}
.rewards .btn-group .btn.sign-in{
    width:110px;

}
.rewards .btn-group .btn.gift{
    margin-top: 10px;
    flex-grow: 1;   /*최대한에 너비로 늘어나도록 함*/
}



.youtube{
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}

.youtube .youtube__area{
        width: 1920px;
        background-color: orange;
        position: absolute;
        left:50%;
        margin-left: calc(1920px /-2);
        top:50%;
        margin-top: calc(1920px * 9 /16 /-2);
}
.youtube .youtube__area::before {
    content:"";
    display:block;
    width: 100%;
    height:0;
    padding-top:56.25%;
}
.youtube .youtube__cover{
    background-image: url("../images/video_cover_pattern.png");
    background-color:rgba(0,0,0,.3);
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
}

#player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube .inner{
    height: 700px;
}
.youtube .floating1{
    position:absolute;
    top:50px;
    left: 0;
}
.youtube .floating2{
    position:absolute;
    top:350px;
    left: 150px;
}

/* SEASON PRODUCT */
.season-product {
    background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner{
    height: 400px;
}
.season-product .floating3 {
    position: absolute;
    right: 0;
    top: -150px;
}
.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}
.season-product .text-group .title{
    margin-bottom: 10px;
}
.season-product .text-group .description{
    margin-bottom: 15px;
}
.season-product .text-group .more{

}




.reserve-coffee {
   background-image:url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner{
    height: 400px;
}
.reserve-coffee .reserve-logo{
    position:absolute;
    top: 110px;
    left: 0;
}
.reserve-coffee .text-group{
    position: absolute;
    top: 124px;
    left: 208px;
}
.reserve-coffee .product{
    position: absolute;
    top:0;
    right: 0;
}




/* PICK YOUR FAVORITE{ */
.pick-your-favorite{
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;         /*스크롤이 움직여도 배경이 움직이지 않게 설정함*/
    background-size:cover;      /*배경에 이미지를 요소에 더 넓은 너비에 맞춰 출력한다 */
}
.pick-your-favorite .inner{
    padding:110px 0;
}
.pick-your-favorite .text-group{
    margin-left: 100px;
    display: flex;
    width: 362px;
    flex-wrap: wrap;    /*줄바꿈이 가능한상태*/
    justify-content: flex-end;      /*수평에 끝점에 우축 맞춰준다*/
}
.pick-your-favorite .text-group .title{
    margin-bottom: 40px;
}
.pick-your-favorite .text-group .description{
    margin-bottom: 40px;
}

.reserve-store{
    background-image: url("../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.reserve-store .inner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 메달 */
.reserve-store .medal{
    width: 334px;
    height: 334px;
    perspective: 600px;          /*원근법*/
}
.reserve-store .medal .front,
.reserve-store .medal .back{
            /*뒤집어 졌을 떄 뒷면은 안 보일 것이다*/
        width: 334px;
        height: 334px;
        backface-visibility: hidden;
        transition: 1s;
        position: absolute;


    }
.reserve-store .medal .front{
        transform: rotateY(0deg);   /*명시적으로 각도가0에서 시작한다 */
}
.reserve-store .medal:hover .front{
    /* 메달에 마우스 커서를 올리면 front를 어떻게 처리할 것인지  */
        transform: rotateY(180deg);
}

.reserve-store .medal .back{
        transform:rotateY(-180deg);     /*뒷면은 뒤집었고 위에 backface-visibility hidden으로 뒷면은 숨겨버림*/
}
.reserve-store .medal:hover .back{
    transform: rotateY(0deg);
}

.reserve-store .medal .back .btn{
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
}



/* FIND STORE */
.find-store{
    background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner{
    height: 400px;
}
.find-store .texture1{
    position:absolute;
    top: 0;
    left: 400px;
}
.find-store .texture2{

}
.find-store .picture{
    border-radius: 50%;
    box-shadow: 2px 15px 25px rgba(0,0,0,.5);
    position: absolute;

}
.find-store .picture1{
    top: -60px;
    left: 0;
}

.find-store .picture2{
    top: 150px;
    left: 250px;
}
.find-store .text-group{
    position: absolute;
    top: 120px;
    left: 550px;
}
.find-store .text-group .title{
    margin-bottom: 20px;
}
.find-store .text-group .description{
    margin-bottom: 20px;
}
